.logo {
  margin: 0;
  background-color: rgba(250, 235, 215, 0.336);
  padding-right: 1rem;
  padding-left: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("/src/image.jpg");
  background-position: center;
  height: 20vh;
  font-family: "monospace", sans-serif;
  font-size: 2rem;
}

.text {
  color: #03629e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emojiTab {
  background-color: #bae1fa;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.emoji-bit {
  margin: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.input {
  border: 1.5px solid black;
  border-radius: 6px;
  height: 2rem;
}

.meaning {
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
