@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
body {
  max-width: 100vw;
}
.logo {
  margin: 0;
  background-color: rgba(250, 235, 215, 0.336);
  padding-right: 1rem;
  padding-left: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("/src/image.jpg");
  background-position: center;
  height: 20vh;
  font-family: "monospace", sans-serif;
  font-size: 2rem;
}

.text {
  color: #03629e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.emojiTab {
  background-color: #bae1fa;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: 80vw;
}

.emoji-bit {
  margin: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-size: 2rem;
}

.input {
  border: 1.5px solid black;
  border-radius: 6px;
  height: 2rem;
}

.meaning {
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  background-color: rgba(250, 235, 215, 0.336);
  margin: 0;
  text-align: center;
}

li {
  display: inline;
  list-style: none;
  margin: 1rem;
  font-size: 1rem;
}

ul {
  text-align: center;
  padding-left: 0;
  padding: 1rem;
}

i {
  color: black;
}

@media screen and (max-width: 600px) {
  .logo {
    padding-left: 1rem;
  }
  header {
    font-size: 1.8rem;
  }
}
